* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}
li {
  list-style-type: none;
  float: left;
  margin: 20px 30px;
}
#topBar {
  background: linear-gradient(#e66465, #9198e5);
  height: 60px;
  color: white;
  border-bottom: rgb(125, 167, 221) 2px solid;
}
li:hover {
  color: darkblue;
  cursor: pointer;
}
i {
  float: right;
  margin: 20px;
  color: white;
}
i:hover {
  color: darkblue;
  cursor: pointer;
  transition: 1s;
}
.bcg {
  height: 700px;
  background-size: 100%;
  background-position: center;
  background-image: url(https://images.pexels.com/photos/627678/pexels-photo-627678.jpeg?cs=srgb&dl=pexels-nordic-overdrive-627678.jpg&fm=jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
}
h1 {
  background-color: black;
  width: 30%;
  height: 100px;
  opacity: 0.5;
  color: #e66465;
  font-size: 80px;
  margin-left: 35%;
  text-align: center;
  padding: 1rem;
}
