* {
  margin: 0px;
  padding: 0px;
}
.navigationBar {
  background-color: black;
  width: 100%;
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 60px;
  padding-bottom: 36px;
  position: fixed;
}
a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin: 18px 60px;
}
a:hover {
  color: red;
}
.logo {
  color: white;
  padding: 10px;
  font-size: 100px;
  background-color: red;
}
.bottomBar {
  width: 100%;
  height: 20px;
  display: flex;
  flex-direction: row;
  padding: 15px 0px;
  background-color: black;
  color: white;
  justify-content: center;
  font-size: 20px;
  position: fixed;
  bottom: 0px;
}
i {
  padding: 0px 5px;
}
.socialm:hover {
  color: red;
  cursor: pointer;
  transition: 0.3s;
  transform: scale(1.5, 1.5);
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  padding: 250px 0px;
}
.burgers {
  height: 150px;
  width: 200px;
  text-align: center;
  box-shadow: rgb(185, 184, 184) 5px 5px;
  border-radius: 10px;
}
.burgers:hover {
  cursor: pointer;
  background-color: red;
  opacity: 0.5;
  transition: 0.5s;
  transform: scale(1.5, 1.5);
}
.burgertext {
  padding-top: 60px;
  color: white;
  font-size: 20px;
  font-family: cursive;
  font-weight: bold;
}
#smallburger {
  background-image: url(https://images.pexels.com/photos/10273550/pexels-photo-10273550.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-position: bottom;
}
#mediumburger {
  background-image: url(https://images.pexels.com/photos/2702674/pexels-photo-2702674.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-position: center;
}
#largeburger {
  background-image: url(https://images.pexels.com/photos/1639557/pexels-photo-1639557.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-position: center;
}
#xlburger {
  background-image: url(https://images.pexels.com/photos/2983101/pexels-photo-2983101.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-position: right;
}
