#main {
  position: relative;
  width: 800px;
  padding: 30px;
  border-radius: 30px;
  height: 490px;
  margin: 100px 300px;
  border: none;
  background-color: white;
  box-shadow: 5px 10px rgb(187, 187, 187);
}
#right {
  position: absolute;
  left: 450px;
  top: 150px;
}
#left {
  position: absolute;
  top: 150px;
}
#bottom {
  position: absolute;
  top: 320px;
}
button {
  border: none;
  background-color: red;
  color: white;
  border-radius: 30px;
  height: 30px;
  width: 80px;
}
button:hover {
  background-color: blue;
  cursor: pointer;
}
input {
  border: none;
  background-color: rgb(231, 231, 231);
  padding: 10px 5px;
  border-radius: 25px;
  margin-bottom: 30px;
  width: 350px;
  margin-top: 10px;
}
textarea {
  border-radius: 15px;
  background-color: rgb(231, 231, 231);
  padding: 10px 5px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
  margin-top: 10px;
  border: none;
}
label {
  font-weight: bold;
}
