table {
  width: 100%;
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: rgb(255, 210, 128);
}

#main-heading {
  background-color: orange;
  color: white;
  border: none;
  font-size: 30px;
  letter-spacing: 10px;
}

td,
th {
  border-bottom: 1px solid rgb(230, 172, 64);
  border-right: 1px solid rgb(187, 187, 187);
  height: 30px;
  padding: 3px;
}

.lastcolumn {
  border-right: none;
}

#last-row th {
  border-bottom: none;
  background-color: grey;
  color: white;
}

.numbers {
  text-align: right;
}
